body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 5px;
    margin: 20px;
}

.piece {
    background-color: #fff;
    border: none;
    padding: 20px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece:hover {
    background-color: #ccc;
}

#b-reiniciar {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#b-reiniciar:hover {
    background-color: #3e8e41;
}